
.chart-wrapper .chart-title {
  font-size: 24px;
  text-align:center;
  font-family:Arial;
}

.chart-title .tableTitle{
    text-align:center;
}
.datePicker
{
    padding-top: 15px;
}

.allCSV
{
    margin-right: 10px;
}

.dashboardHeader
{
    margin-bottom: 20px;
}

.highlighted
{
    background-color: yellow;
}

.depHeader
{
    text-align: center;
}

canvas
{
    margin-left: auto;
    margin-right: auto;
}

table
{
    width: 100%;
}

.centeredTable
{
    margin-left: auto;
    margin-right: auto;
    width: auto;
}

.graph-chart
{
    padding-right: 50px;
}

#legendNotes
{
    height: 90px;
}

.grandTotal
{
    padding-top: 50px;
}

.reportingTable a
{
    cursor: pointer;
}

.changeGraph
{
    width: 550px;
}

.reportingTable
{
    max-width: 500px;
}

.dateGroup
{
    padding-right: 25px;
}

.errorMessage
{
    padding-left: 450px;
    color: red;
}

.titleHeader
{
    padding-top: 7.5px;
}

.my-legend .legend-title {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
    font-family:Arial;
    }
  .my-legend .legend-scale ul {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
    float: left;
    list-style: none;
    }
  .my-legend .legend-scale ul li {
    font-size: 80%;
    list-style: none;
    margin-left: 0;
    line-height: 18px;
    margin-bottom: 2px;
    }
  .my-legend ul.legend-labels li span {
    display: block;
    float: left;
    height: 16px;
    width: 30px;
    margin-right: 5px;
    margin-left: 0;
    border: 1px solid #999;
    }
  .my-legend .legend-source {
    font-size: 70%;
    color: #999;
    clear: both;
    }
  .my-legend a {
    color: #777;
    }

  .legend-text{
      font-size: 20px;
  }

.graph-legend span
{
    cursor: pointer;
}
